body {
    font-size: 20px;
    font-family: 'Open Sans';
    line-height: 1.8;
    color: #f5f6f7;
}
p {
    font-size: 16px;
}
.margin {
    margin-bottom: 45px;
}
.bg-1 { 
    background-color: #2db5b9; 
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; 
    color: #ffffff;
}
.bg-3 { 
    background-color: #c43b3b; 
    color: #fff;
}
.bg-4 { 
    background-color: #19886c; 
    color: #fff;
}

.bg-5 { 
    background-color: #9b637d; 
    color: #fff;
}

.bg-6 { 
    background-color: #f1ecec; 
    color: #000000;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    position: fixed;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}